* {
	box-sizing: border-box;
}

html,
body,
#root {
	height: 100%;
}

/* Body */
body {
	margin: 0;
	font-family: $font-family;
	font-weight: normal;
	font-size: $font-size-normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: background-color .3s;
}

/* Typography */
h1,
h2,
h3 {
	margin: 0 0 $unit * 2;
	font-weight: 500;

	&:last-child {
		margin-bottom: 0;
	}
}

h1 {
	font-size: $font-size-xlarge;
}

h2 {
	font-size: $font-size-large;
}

h3 {
	font-size: $font-size-medium;
}

p {
	line-height: 1.25;
}

/* Containers */
.container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $unit * 2;
	padding-right: $unit * 2;
}

/* Material icons */
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
  
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
  
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
  
	/* Support for IE. */
	font-feature-settings: 'liga';
  }
