/* Light Theme styles */
.theme-light {
	/* Details */
	.details {
		&__bar {
			background-color: $purple-darker;
		}

		&__head {
			background-color: $purple;
			box-shadow: 0 3px 5px rgba($grey-darker, .3);
		}

		&__body {
			color: $grey-darker;

			p,
			ul {
				color: rgba($grey-darker, .87);
			}
		}
	}

	/* NotFound */
	.not-found {
		h1 {
			color: rgba($grey-darker, .87);
		}

		a {
			color: $purple;
		}
	}
}
