/* Light Theme styles */
.app--theme-light {
	background-color: $white;
	transition: background-color .3s;

	/* Header */
	.header {
		border-top-color: $purple-darker;
		background-color: $purple;
		transition: background-color .3s, border-color .3s;
	}

	/* Theme switcher */
	.theme-switcher {
		.material-icons--dark {
			opacity: 0;
		}
	}

	/* Footer */
	.footer {
		background-color: $white-darker;
		color: rgba($grey-darker, .6);	
		transition: background-color .3s, color .3s;
	}
}

