/* Unit for spacing and alignment */
$unit: 8px;

/* Fonts */
$font-family: 'Roboto', sans-serif;
$font-icons: 'Material Icons';

/* Font sizes */
$font-size-xlarge: 24px;
$font-size-large: 21px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;


