/* Unit for spacing and alignment */
$unit: 8px;

/* Fonts */
$font-family: 'Roboto', sans-serif;

/* Font sizes */
$font-size-xlarge: 24px;
$font-size-large: 21px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

/* Colors */
$white: #fff;
$black: #000;
$grey: #212121;
$grey-lighter: #454545;
$purple: #6204ee;
$purple-lighter: #bb86fc;
$purple-darker: #3702b3;
$red: #a60220;
$red-lighter: #d27182;

/* UI elements' specific styles */
$container-max-width: 1280px;

