/* ThemeSwitcher component sytyles */
.theme-switcher {
	margin: 0;
	padding: 0;
	background: none;
	border: 0;
	border-radius: 0;
	color: $white;
	line-height: 1;
	cursor: pointer;
	appearance: none;
	outline: none;
	user-select: none;
	position: relative;

	.material-icons--dark {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}

	.material-icons--dark,
	.material-icons--light {
		transition: opacity .3s;
	}
}
